Source: astal-wl4
Section: libs
Priority: optional
Maintainer: Muqtadir <contact@muqtxdir.com>
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-gir,
 meson (>= 0.63.0),
 ninja-build,
 pkgconf,
 valac,
 valadoc,
 graphviz,
 gobject-introspection,
 libgirepository-2.0-dev,
 libgirepository1.0-dev,
 libglib2.0-dev,
 libgtk-4-dev,
 libwayland-dev,
 libastal-wl-dev,
Standards-Version: 4.7.0
Homepage: https://github.com/aylur/astal
Rules-Requires-Root: no
Vcs-Browser: https://github.com/unity-desktop/astal/tree/ubuntu/latest/lib/wl/wl4
Vcs-Git: https://github.com/unity-desktop/astal.git -b ubuntu/latest [lib/wl/wl4]

Package: libastal-wl4-0
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GTK4 Wayland integration for Astal shells
 Astal is a library collection for building desktop shells. This package
 contains the shared library.

Package: libastal-wl4-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Provides: ${gir:Provides}
Depends:
 libastal-wl4-0 (= ${binary:Version}),
 gir1.2-astalwl4-0.1 (= ${binary:Version}),
 libglib2.0-dev,
 libastal-wl-dev,
 libgtk-4-dev,
 libwayland-dev,
 ${gir:Depends},
 ${misc:Depends},
Description: GTK4 Wayland integration for Astal shells (development files)
 Astal is a library collection for building desktop shells.
 .
 This package contains the headers, the pkg-config file, the GIR XML and the
 Vala bindings.

Package: gir1.2-astalwl4-0.1
Section: introspection
Architecture: any
Multi-Arch: same
Depends: libastal-wl4-0 (= ${binary:Version}), ${gir:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: GObject introspection data for astal-wl4
 Gtk4 wayland integration for astal shells.
 .
 This package contains the introspection typelib, for language bindings that
 load it at run time.
